body,
html {
	margin: 0;
	padding: 0;
}

.wrap-body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #e5e4e2;
}

header {
	display: flex;
	background-color: #20b2aa;
	height: 10vh;
	align-items: flex-end;
	padding-bottom: 10px;
	border-bottom: 5px solid white;
	font-family: 'Roboto', sans-serif;
}

.wrap-icon-banner {
	position: relative;
	display: flex;
	align-items: center;
    margin-left: 10px;
}

.wrap-icon {
	position: absolute;
	bottom: -20px;
	width: 15%;
	max-width: 90px;
	min-width: 70px;
	background-color: white;
	border: 5px solid black;
	border-radius: 50px;
}

img {
	height: 100%;
	width: 100%;
}

nav {
	margin-left: auto;
}

nav a {
	border: 3px solid black;
    padding: 15px;
    color: navy;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
}

.pet-button {
	display: flex;
	padding: 5px;
	max-width: 160px;
	border: 3px solid #20b2aa;
    background-color: #b7b6b4;
    border-radius: 10px;
}

.find-pet-banner {
	display: flex;
	flex-direction: column;
	z-index: 1;
	text-align: center;
	position: fixed;
}

.pet-div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-height: 300px;
	max-width: 400px;
}

.search-options #search-form {
	display: flex;
	margin-right: 15px;
	width: 100%;
	justify-content: center;
	align-content: center;
}

.search-form-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 5px;
}

.wrap-search {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-form {
	display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    flex-grow: 1;
    margin-right: 75px;
    margin-left: 75px;
    background-color: #bce7e5;
    border: 5px solid #20b2aa;
    border-radius: 20px;
    min-height: 400px;
    min-width: 600px;
}

form h2 {
	border-bottom: 3px solid white;
	font-size: 30px;

}

.submit {
	align-self: flex-end;
}

.pet-card {
	background-color: #bce7e5;
	display: flex;
	flex-direction: column;
	align-items: center;
    font-size: x-large;
    border-radius: 20px;
    border: 5px solid #20b2aa;
	max-width: 750px;
	padding: 15px;
	margin: 15px;
}

.pet-card h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 3px solid white;
}

.pet-card ul {
	display: flex;
    list-style: none;
    margin: 15px;
}

.pet-card li {
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}

.card-img {
	border: 8px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}



@media (max-width: 785px) {
	.search-options {
		display: none;
	}
}
