body,
html {
	display: flex;
	margin: 0;
	padding: 0;
}

.wrap-body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	background-color: #e5e4e2;
}

header {
	display: flex;
	background-color: #20b2aa;
	min-height: 10vh;
	align-items: flex-end;
	padding-bottom: 10px;
	border-bottom: 5px solid white;
	font-family: 'Roboto', sans-serif;
}

.wrap-icon-banner {
	position: relative;
	display: flex;
	align-items: center;
    margin-left: 10px;
}

.wrap-icon {
	position: absolute;
	bottom: -20px;
	width: 15%;
	max-width: 90px;
	min-width: 70px;
	background-color: white;
	border: 5px solid black;
	border-radius: 50px;
}

.wrap-icon-banner h1 {
	margin-left: 200px;
}

img {
	height: 100%;
	width: 100%;
}

nav {
	margin-left: auto;
}

nav a {
	border: 3px solid black;
    padding: 15px;
    color: navy;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
}

.pet-button {
	display: flex;
	padding: 5px;
	max-width: 160px;
	border: 3px solid #20b2aa;
    background-color: #b7b6b4;
    border-radius: 10px;
}

.find-pet-banner {
	display: flex;
	flex-direction: column;
	z-index: 1;
	text-align: center;
	position: fixed;
}

.pet-div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	min-height: 300px;
	position: relative;
	/*max-width: 700px;*/
}

.search-options #search-form {
	display: flex;
	margin-right: 15px;
	width: 100%;
	justify-content: center;
	align-content: center;
}

.search-form-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 5px;
}


.wrap-form {
	display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    flex-grow: 1;
    margin-right: 75px;
    margin-left: 75px;
    background-color: #bce7e5;
    border: 5px solid #20b2aa;
    border-radius: 20px;
    min-height: 400px;
    min-width: 600px;
}

form h2 {
	border-bottom: 3px solid white;
	font-size: 30px;

}

.submit {
	align-self: flex-end;
}

.pet-card {
	background-color: #bce7e5;
	display: flex;
	flex-direction: column;
	align-items: center;
    font-size: x-large;
    border-radius: 20px;
    border: 5px solid #20b2aa;
	max-width: 750px;
	padding: 15px;
	margin: 15px;
}

.pet-card h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 3px solid white;
}

.pet-card ul {
	display: flex;
	flex-direction: column;
    list-style: none;
    margin: 15px;
}

.pet-card li {
	padding: 3px;
	font-weight: bold;
}

.card-img {
	border: 8px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	background-color: #ea8947;
	border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.hidden {
	display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #20b2aa;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 785px) {
	.search-options {
		display: none;
	}
}

@media (max-width: 1024px) {
	.wrap-icon h1 {
		font-size: 5px;
	}
}